*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
header{
  text-align: center;
  height: 50px;
  background-color: rgba(253, 203, 110,.6);
  color: rgba(108, 92, 231,.99);
  ul li{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    display: inline-block;
    a{
      text-decoration: none;
    }
  }
}
.slider{
  margin-top: 0;
  height: 350px;
  background-color: rgba(99, 110, 114,1.0);
  .slide{
    text-align: center;
  }
}
